/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f8fb;
    color: #333;
    padding: 20px;
    text-align: center;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2a38;
    padding: 15px 30px;
    color: white;
    height: 80px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo img {
    max-height: 100%;
    width: 150px;
}

/* Menu hamburguer */
.menu-hamburguer {
    position: relative;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: block;
    color: #fff;
}

.menu {
    display: none;
    position: absolute;
    top: 67px;    
    right: 75px;
    background-color: black;
    border-radius: 8px;
    padding: 50px;
    list-style: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Exibe o menu quando a classe menu-ativo está presente */
.menu-ativo {
    display: block;
}

/* Estilo da área de cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Estilo dos cards */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Estilo da imagem dentro do card */
.card-img {
    max-width: 100%;
    height: 120px;
    border-radius: 10px;
}

/* Estilo do título do card */
.card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

/* Estilo da descrição do card */
.card p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

/* Estilo do botão de "Ver Detalhes" */
.card .btn {
    background-color: #28a745;
    top: 800rem;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.card .btn:hover {
    background-color: #218838;
    transform: scale(1.08);
}


/* Footer */
footer {
    background-color: #1e2a38;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
